<table class="table">
  <thead>
    <tr>
      <th scope="col">Giftname</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    <% @gifts.each do |gift|%>
    <tr>
      <td><%= gift.name %></td>
      <td><%= gift.upvotes %></td>
      <td><%= gift.downvotes %></td>
    </tr>
    <% end %>
</table>